---
import { SITE_VERSION } from "@/consts";
import BaseLayout from "@/layouts/BaseLayout.astro";
const commitSha = import.meta.env.PUBLIC_VERCEL_GIT_COMMIT_SHA || "";
---

<BaseLayout>
  <h1 class="sr-only">Jaidip Subedi</h1>
  <section class="prose py-40">
    <dl>
      <dt>Name</dt>
      <dd>Jaidip Subedi</dd>
      <dt>Location</dt>
      <dd>Kathmandu, NP</dd>
      <dt>Work</dt>
      <dd>
        Content Creator at <a href="https://mangobyte.digital" target="_blank"
          rel="noopener">Mangobyte</a>, SEO at <a
          href="https://uptifi.com" target="_blank"
          rel="noopener">Uptifi</a
        >
      <dt>Adduce</dt>
      <dd>Almost anything can be improved in some way.</dd>
      <dt>Quote</dt>
      <dd>All I want to do is drink beer and train like an animal.</dd>
    </dl>
  </section>
</BaseLayout>
