---
import { SITE_VERSION } from "@/consts";
import BaseLayout from "@/layouts/BaseLayout.astro";
const commitSha = import.meta.env.PUBLIC_VERCEL_GIT_COMMIT_SHA || "";
---

<BaseLayout>
  <h1 class="sr-only">Jaidip Subedi</h1>
  <section class="prose py-40">
    <dl>
      <dt>Name</dt>
      <dd>Jaidip Subedi</dd>
      <dt>Location</dt>
      <dd>Kathmandu, NP.</dd>
      <dt>Work</dt>
      <dd>
        Content Creator at <a href="https://mangobyte.digital">Mangobyte</a>, SEO at <a
          href="https://luminrseo.com">Luminr SEO</a
        >
      <dt>Adduce</dt>
      <dd>Almost anything can be improved in some way.</dd>
      <dt>Quote</dt>
      <dd>In three words I can sum up everything I've learned about life: it goes on.</dd>
      <dt>Version</dt>
      <dd><code>{SITE_VERSION}</code></dd>
      <dt>View source</dt>
      <dd>
        <a
          href="https://github.com/subedijaidip/personal"
          target="_blank"
          rel="noopener">subedijaidip/personal</a>
      </dd>
    </dl>
  </section>
</BaseLayout>
